spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/book_catalog
    driverClassName: org.postgresql.Driver
    username: postgres
    password: postgres
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

security:
  jwt:
    secret: "change-this-secret-in-prod"
    expiration-minutes: 1