spring:
  datasource:
    url: jdbc:h2:mem:calculate_profit
    driver-class-name: org.h2.Driver
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
  h2:
    console:
      enabled: true
  sql:
    init:
      mode: never